/*  =================================================
    ----------------  #about section ----------------
    ================================================= */

.parallax#about {
    background-image: url("../img/about.jpg");
    min-height: 500px;
}
.parallax#about div { top: calc(50% - 8em); }
.photo-container {
    user-select: none;
    -webkit-user-select: none;
    position: relative;
    margin: 2em;
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);;
}
.photo-content {
    width: 300px; height: 300px;
    position: relative;
    transition: transform 2s ease-in;
    -webkit-transition: transform 2s ease-in;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.photo-front, .photo-back{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.photo-front img { width: 100%; height: 100%; }
.photo-front::before {
    position: absolute;
    content: "";
    top: 8px; left: 8px; right: 8px; bottom: 8px;
    border: 4px solid white; 
    transform: translateZ(100px);
    -webkit-transform: translateZ(100px);
}
.photo-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    background-color: #313131;
}
.photo-back-body {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) translateZ(100px);
    -webkit-transform: translate(-50%, -50%) translateZ(100px);
}
.photo-container:hover .photo-content { transform: rotateY(180deg); -webkit-transform: rotateY(180deg); }

/*  =================================================
    ------------------ Description ------------------
    ================================================= */

#my-description h5, #my-description p { opacity: 0; }
.descr-lists div {
    text-align: center;
    width:50%;
}
p.descr-lists {
    margin: 5px auto 10px auto;
    color: var(--primary-color);
    font-size: 1.1em;
    font-weight: bold;
}
.special-word {
    font-weight: 600;
    color: var(--primary-color);
}
.tooltip { 
    position: relative; 
    transform: scale(0);
    -webkit-transform: scale(0);
}
.tooltip .tooltiptext {
    opacity: 0;
    width: 120px;
    background-color: var(--font-color);
    color: var(--bg-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
   
    position: absolute;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    z-index: 1;
}
.tooltip:hover .tooltiptext { opacity: 1; }
.tooltip img { height: 50px; }
.grid.about {
    grid-template-columns: 33% 33% 33%;
    width: 90%;
    margin: auto;
}
.grid.about-2 {
    grid-template-columns: 33% 33% 33%;
    width: 90%;
    margin: auto;
}
.grid.about-paragraph {
    margin: 10px auto;
    width: 100%;
    grid-template-columns: 10% 90%;
    align-items: center;
    text-align: justify;
}
.icon-grid-2 {
    height: 130px;
    width: 70%;
    margin: auto;
}
/*  =================================================
    -------------  come-in transitions --------------
    ================================================= */
.come-in .photo-container { animation: come-in 1s ease-out forwards; -webkit-animation: come-in 1s ease-out forwards; }
.come-in #my-description h5,
.come-in #my-description p {
    transform: translateX(110%);
    animation: come-in 1s ease-out forwards;
    -webkit-transform: translateX(110%);
    -webkit-animation: come-in 1s ease-out forwards;
}
.come-in #my-description h5 { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.come-in #my-description p  { animation-delay:   1s; -webkit-animation-delay:   1s; }

#icon-grid:nth-child(1)   p { animation-delay: 1.5s; -webkit-animation-delay: 1.5s; }
.icon-grid-2:nth-child(1) p { animation-delay:   2s; -webkit-animation-delay:   2s; }
.icon-grid-2:nth-child(2) p { animation-delay: 2.5s; -webkit-animation-delay: 2.5s; }

.come-in .tooltip { animation: rise 1s ease-out forwards; }

#icon-grid:nth-child(1)   .tooltip { animation-delay:   2s; -webkit-animation-delay:   2s; }
.icon-grid-2:nth-child(1) .tooltip { animation-delay: 2.5s; -webkit-animation-delay: 2.5s; }
.icon-grid-2:nth-child(2) .tooltip { animation-delay:   3s; -webkit-animation-delay:   3s; }