/*  =================================================
    ---------------  #projects section --------------
    ================================================= */
.parallax#projects {
    background-image: url("../img/projects.jpg");
    min-height: 200px;
    height: 45vh;
}
.parallax#projects div { top: calc(50% - 2em); }
.grid.projects {
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr)); 
    grid-gap: 2em;
}
.project {
    transform: translateX(400%);
    border-radius: 15px;
    margin: auto;
    height: 250px;
    overflow: hidden;
}
#odey, #odey-modal {
    background: url('../img/odey.png') #827081 center no-repeat;
    background-size: auto 180px;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
}
#neural, #neural-modal {
    background: url('../img/neural.jpg') #f58a07 center no-repeat;
    background-size: auto 230px;
    animation-delay: .6s;
    -webkit-animation-delay: .6s;
}
#simplecrypto, #simplecrypto-modal {
    background: url('../img/simplecrypto.jpg') rgb(1, 102, 255) center no-repeat;
    background-size: auto 230px;
    animation-delay: .9s;
    -webkit-animation-delay: .9s;
}
#neural span.project-name {
    position: relative;
    top: calc(50% - 65px);
}
#simplecrypto span.project-name,
#odey span.project-name {
    line-height: 250px;
    vertical-align: middle;
}
.front {
    height: 100%;
    margin: auto;
    text-align: center;
    transition-duration: .6s;
    transition-delay: .2s;
    -webkit-transition-duration: .6s;
    -webkit-transition-delay: .2s;
}
span.project-name {
    font-size: 2em;
    font-weight: bold;
    color: var(--white);
    font-family: "Sailec-Medium", 'Poppins', 'Comfortaa', arial;
}
.proj-descr {
    height: calc(100% - 50px);
    padding: 25px;
    background-color: rgba(32, 32, 32, .8);
    color: var(--white);
    transform: translateY(-100%) scale(2);
    opacity: 0;
    transition-duration: .6s;
    transition-delay: 0;
    -webkit-transform: translateY(-100%) scale(2);
    -webkit-transition-duration: .6s;
    -webkit-transition-delay: 0;
}
.proj-descr p { margin: .4em 0; }
.project:hover .front {
    transform: scale(2);
    transition-delay: 0;
    -webkit-transform: scale(2);
    -webkit-transition-delay: 0;
    opacity: 0;
}
.project:hover .proj-descr {
    transform: translateY(-100%) scale(1);
    transition-delay: .2s;
    -webkit-transform: translateY(-100%) scale(1);
    -webkit-transition-delay: .2s;
    opacity: 1;
}
.proj-descr .link-button.link-button-bg {
    color: var(--white);
    border-color: var(--white);
}
/*  =================================================
    --------------------- Modal ---------------------
    ================================================= */
button.link-button { 
    background-color: transparent;
    font-size: .8em;
    font-weight: 600;
    cursor: pointer;
}
.modal {
    opacity: 0;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    transform: scale(0.0001);
    transition: all .4s linear, opacity 3s linear;
    -webkit-transform: scale(0.0001);
    -webkit-transition: all .4s linear, opacity 3s linear;
}
.show-modal {
    opacity: 1;
    transform: scale(1);
    transition: all .6s linear, opacity .01s linear;
    -webkit-transform: scale(1);
    -webkit-transition: all .6s linear, opacity .01s linear;
}
.modal-content {
    visibility: hidden;
    border: 2px solid var(--bg-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: auto;
    margin-top: 25%;
    width: 80%;  
    max-height: 0.1px;
    overflow-y: auto;
    overflow-x: hidden;
}
.show-modal .modal-content {
    margin-top: calc(5% - 20px);
    padding: 20px 20px 20px 35px;
    height: 80%;
    max-height: 80%;
    transition: all .4s linear;
    transition-delay: .5s;
    -webkit-transition: all .4s linear;
    -webkit-transition-delay: .5s;
    visibility: visible;
}
.modal-content h5 {
    font-weight: bolder;
    margin-top: 0;
    line-height: 42px;
    vertical-align: middle;
}
img.proj-figure {
    width: 100%;
    margin: auto;
}
  
figcaption.proj-figure {
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
    color: var(--white);
    width: calc(100% - 10px);
    display: block;
    float: left;
    position: absolute;
    bottom: 4px;
}
  
figure.proj-figure {
    position: relative;
    width: 90%;
    margin: 8px auto;
    padding: 0;
    float: right;
    cursor: zoom-in;
}
figure.proj-figure.modal-figure { cursor: zoom-out; }
.proj-figure.modal-figure {
    margin: 0;
    z-index: 2;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
}
.proj-figure.modal-figure img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: max-content;
    max-height: 95%;
}
.proj-figure.modal-figure figcaption {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    top: 0;
    bottom: auto;
}
.close {
    padding: 0 10px 10px 20px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal-btn {
    width: min-content;
    margin: auto;
    opacity: 0;
    transition: all .6s linear;
    transition-delay: 1s;
    -webkit-transition: all .6s linear;
    -webkit-transition-delay: 1s;
} 
.show-modal .modal-btn { opacity: 1; }
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*  =================================================
    -------------  come-in transitions --------------
    ================================================= */
.come-in .project { animation: come-in .6s ease-out forwards; -webkit-animation: come-in .6s ease-out forwards; }